@import "../../../../../styles/variables";
@import "../../../../../styles/functions";
@import "../../../../../styles/mixins";

.messengers {
  position: relative;

  .add {
    @include box-shadow();

    text-align: center;
    cursor: pointer;
    background: #ffffff;
    padding: setUnit(5) setUnit(10);
    border-radius: setUnit(5);

    &:hover {
      @include box-shadow-hover();
    }
  }

  .list {
    @include box-shadow();

    position: absolute;
    width: 100%;
    list-style: none;
    padding: setUnit(5) 0;
    background: #ffffff;
    margin-top: setUnit(2);
    border-radius: setUnit(5);

    .item {
      cursor: pointer;
      padding: setUnit(5) setUnit(10);
      display: flex;
      align-items: center;

      .icon {
        margin-right: setUnit(5);
        vertical-align: middle;
      }

      .name {
        text-transform: capitalize;
      }

      &:hover {
        background: $grey-color;
      }
    }
  }
}
