@import "../../styles/functions";
@import "../../styles/variables";

.container {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 15%;
    min-width: setUnit(300);
    background: $grey-color;
    padding: setUnit(10) setUnit(20);
  }

  .main {
    display: flex;
    flex-direction: column;
    padding: setUnit(10) setUnit(20);
    width: 100%;
  }

  .messages {
    height: calc(100vh - #{setUnit(50)});
  }
}
