@import "../../styles/functions";
@import "../../styles/variables";

.container {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 5%;
    min-width: setUnit(170);
    background: $grey-color;
    padding: setUnit(10) setUnit(20);
    height: 100vh;
    background: #333744;
    overflow-y: auto;
  }

  .app {
    //padding: setUnit(10) setUnit(20);
    width: 100%;
  }
}
